{{define "interface"}}// {{.TypeName}} is the WinRT interface {{.FullName}}.
{{- if .GUID}}
// IID: {{.GUID}}
{{- end}}
{{- if .ExclusiveTo}}
// Exclusive to the {{.ExclusiveTo}} runtime class.
{{- end}}
{{- if .Requires}}
// Requires: {{join .Requires ", "}}.
{{- end}}
type {{.TypeName}} struct {
	syswinrt.IInspectable
}

{{if .IIDVar}}// {{.IIDVar}} is the interface identifier for {{.TypeName}}.
var {{.IIDVar}} = {{.IIDLiteral}}

{{end -}}
{{range .Methods}}
{{- if .SkipComment}}// {{.SkipComment}}

{{else}}
{{- range .CommentLines}}// {{.}}
{{end -}}
func (self *{{$.TypeName}}) {{.GoName}}({{.ParamStr}}) {{.ReturnSig}} {
{{- range .Preamble}}
	{{.}}
{{- end}}
{{- if .ResultDecl}}
	{{.ResultDecl}}
{{- end}}
	r1, _, _ := syscall.SyscallN(self.LpVtbl[{{.Slot}}], uintptr(unsafe.Pointer(self)){{range .ArgExprs}}, {{.}}{{end}})
{{- if eq .ReturnKind 0}}
	return win32.ErrIfFailed(int32(r1))
{{- else if eq .ReturnKind 2}}
	if err := win32.ErrIfFailed(int32(r1)); err != nil {
		return {{.ZeroReturn}}, err
	}
	return {{.ResultExpr}}, nil
{{- else}}
	return {{.ResultExpr}}, win32.ErrIfFailed(int32(r1))
{{- end}}
}

{{end}}{{end}}{{with .Await}}{{range .CommentLines}}// {{.}}
{{end -}}
func (self *{{$.TypeName}}) Await() {{.ReturnSig}} {
	completion := make(chan {{.StatusType}}, 1)
	handler, err := {{.HandlerCtor}}(func(_ *{{$.TypeName}}, asyncStatus {{.StatusType}}) {
		completion <- asyncStatus
	})
	if err != nil {
		return {{.ErrPrefix}}err
	}
	defer handler.Close()
	if err := self.SetCompleted(handler); err != nil {
		return {{.ErrPrefix}}err
	}
	status := <-completion
	if status != {{.StatusCompleted}} {
		info, err := winrt.QueryInterface[{{.InfoType}}](unsafe.Pointer(self), {{.InfoIIDRef}})
		if err != nil {
			return {{.ErrPrefix}}err
		}
		defer info.Release()
		code, err := info.ErrorCode()
		if err != nil {
			return {{.ErrPrefix}}err
		}
		return {{.ErrPrefix}}winrt.AsyncError(int32(status), code)
	}
	return self.GetResults()
}

{{end}}{{with .CollectionCtor}}{{range .CommentLines}}// {{.}}
{{end -}}
func {{.CtorName}}(items []{{.ElemType}}) *{{$.TypeName}} {
	boxed := make([]any, len(items))
	for i, item := range items {
		boxed[i] = {{.BoxExpr}}
	}
	obj := winrt.{{.RuntimeCtor}}({{printf "%q" .Class}}, {{.IIDs}}, {{.Codec}}, boxed)
	return (*{{$.TypeName}})(unsafe.Pointer(obj))
}

{{end}}{{end}}
